﻿.lotbtn{
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #7a1380; /* Old browsers */
	background: -moz-linear-gradient(top,  #7a1380 0%, ##7a1380 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a1380), color-stop(100%,#7a1380)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7a1380 0%,#7a1380 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7a1380 0%,#7a1380 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7a13800%,#7a1380 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7a1380 0%,#7a1380 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a1380', endColorstr='#7a1380',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding:0px 20px 0px 15px;
	margin-right: 25%;
	margin-top: -36px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    /*width: 106px;*/
    font-size: 22px;
    margin-left: -24%;
    cursor:pointer;
   
}

.ddl
{
    min-width: 34.5%;
    display: block;
    padding: 0.5em;
    background: none;
    border: solid 2px rgba(185,186,187,0.25);
    color: inherit;
    border-radius: 0.5em;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
}

.textbox
{
    display: block;
    padding: 0.2em;
    background: none;
    border: solid 2px rgba(185,186,187,0.25);
    color: inherit;
    border-radius: 0.5em;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
}