﻿<%@ Page Title="" Language="C#" MasterPageFile="~/StoreAdmin/StoreMasterPage.master" AutoEventWireup="true" CodeFile="StoreHome.aspx.cs" Inherits="StoreAdmin_StoreHome" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    	<ul class="bxslider" style="margin: 3.2% 0px 0px;">
					<li><img src="../images/lot2.jpg" /></li>
					<li><img src="../images/lotsamsung.jpg" /></li>
					<li><img src="../images/iphone.jpg" /></li>
					<li><img src="../images/lot6.jpg" /></li>
					<li><img src="../images/lot15.jpg" /></li>
					<li><img src="../images/lot14.jpg" /></li>
					<li><img src="../images/lotlast.jpg" /></li>
				</ul>

    <script>
        $(document).ready(function () {
            $('.bxslider').bxSlider({
                auto: true

            });
        });
    </script>
</asp:Content>

